@import url("https://fonts.googleapis.com/css?family=Kanit:200,300,400,700&display=swap");
.body {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-weight: 200;
}

.head{
    border-bottom: 3px solid black;
}

.head p{
    color: gray;
    font-size: small;
}

.konten{
    height:320px;
    padding-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 13px;
}

.footer{
    background-color: black ;
    color: #fff;
    height: 50px;
    text-align: left;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 14px;

}

.paragraf1{
    width:30%;
    
}

.paragraf2{
    width: 30%;
}

.paragraf3{
    width: 30%;
}